body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .opening-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }
  
  .opening-text {
    font-size: 3rem;
    color: #333;
    opacity: 0;
  }
  
  #cursor {
    animation: blink 0.8s infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  